# SUPABASE (Required)
NEXT_PUBLIC_SUPABASE_URL=https://ntcvnxybvhlauqhoceqc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50Y3ZueHlidmhsYXVxaG9jZXFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjMyMjIsImV4cCI6MjA5MTkzOTIyMn0.P8f5APp2ES28gDs5F8v5bUD4XOZwdg-jvFMPjrgbXDI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50Y3ZueHlidmhsYXVxaG9jZXFjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM2MzIyMiwiZXhwIjoyMDkxOTM5MjIyfQ.Uimqx1LmOShFzzya8f4iMJoNI_P09XOjtxloVFlI_Vg

# GROQ AI
GROQ_API_KEY=gsk_CohJ1y0C1dhwCv1F2wgqWV52c2YGWWWYb4i6QvY3D

# DATAFORSEO
DATAFORSEO_BASE64=MTY2NDoxNjEuZW1haWxAdmV4YW1wbGUuY29tOjEyMzQ1Njc4OTA=
